{% extends 'base.html.twig' %}

{% block title %}SalleClasse index{% endblock %}

{% block body %}
    <h1>SalleClasse index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NomSalle</th>
                <th>Adresse</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for salle_classe in salle_classes %}
            <tr>
                <td>{{ salle_classe.id }}</td>
                <td>{{ salle_classe.nomSalle }}</td>
                <td>{{ salle_classe.adresse }}</td>
                <td>
                    <a href="{{ path('app_salle_classe_show', {'id': salle_classe.id}) }}">show</a>
                    <a href="{{ path('app_salle_classe_edit', {'id': salle_classe.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_salle_classe_new') }}">Create new</a>
{% endblock %}
